<html>

<head>
    <title>my first page </title>
    <link rel ="style.css" type="text/css"
    href="../public/css/style.css">
</head>
<style>
    

    
    
    #one{
        background-color: blue;
    }
    #two{
        background-color:brown;
    }
h2{

color:blue;

}

</style>

    <body>
        <h1 style="color:brown; background-color:aqua; padding:10%"> 
        
        
        
        
        </h1>
        
            <div id="one" style= width:500px; height:500px;"></div>
            <div id="two" style= width:500px; height:500px;"></div>
            <div id="ment">
                <ul>
                   <a href="#two"> <li>about us</li></a>
                   <a href="#one"><li>tranning</li></a>

            </div>
            <div id="one" style="width: 500px; height: 500px;">
                <h1>about</h1>
                <div id="two" style="width: 300px; height: 300px;">
                        <h1>tranning</h1>
            </div>
    </body>
</html>